//output:index.html
doctype html
html(lang='en')
   head
      link(rel='stylesheet', href='assets/css/style.css')
   body    
     header.bird-box
      .back-bird
      .logo
      .fore-bird
     
     section.content
        article
          h1 Unique Style
          hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          hr
          .clothes-pics
            .row.img-row
              figure.columns.four
                img(src='assets/images/model1.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
              
              figure.columns.four
                img(src='assets/images/model2.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
                
              figure.columns.four
                img(src='assets/images/model3.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
                
            .row.img-row
              figure.columns.four
                img(src='assets/images/model1.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
              
              figure.columns.four
                img(src='assets/images/model2.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
              
              figure.columns.four
                img(src='assets/images/model3.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
                    
            .row.img-row
              figure.columns.four
                img(src='assets/images/model1.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
              
              figure.columns.four
                img(src='assets/images/model2.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
              
              figure.columns.four
                img(src='assets/images/model3.jpg')
                figcaption BlackBird Sweater  <strong> $135</strong>
                          
            h1 Fine Tayloring
            hr
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            
            hr
          .large-window
            .window-tint
              .promo-text Fall Suits
                strong <span>from</span> $99
                a(href="#").window-cta Shop Now
          h1 Rich History
          hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          hr
          
          .blog-posts.row
            .post.columns.four.post-1
              h5  Post Title
              img(src='assets/images/posts/one.jpg')
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              p: a.button(href='') Read More
                
            .post.columns.four.post-2
              h5  Post Title
              img(src='assets/images/posts/two.jpg')
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              p: a.button(href='') Read More
                      
            .post.columns.four.post-3
              h5  Post Title
              img(src='assets/images/posts/three.jpg')
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              p: a.button(href='') Read More
            
        div(style="height:2000px")
     script(src="assets/js/jquery-1.11.1.min.js")
     script(src="assets/js/main.js")
